/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.bold-text {
    font-weight: bold;
}
:root {
    --background-color: #f0f0f0;
    --text-color: #444;
    --menu-color: #fff;
    --hover-color: #444;
    --biography-background: #fff;
    --biography-text: #000;
    --transition: all 0.3s ease;
}

[data-theme="dark"] {
    --background-color: #111;
    --text-color: white;
    --menu-color: #333;
    --hover-color: #bbb;
    --biography-background: #333;
    --biography-text: #fff;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(121, 121, 121);
    border-radius: 13px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(125, 125, 125);
    border-radius: 13px;
    border: 3px solid rgb(174, 174, 174);
}
.active-page {
    cursor: context-menu;
    color: #c4c4c4;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: var(--transition);
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--menu-color);
    margin: 0 auto;
    position: fixed;
    z-index: 10000000;
    width: 100%;
    top: 0;
}

.logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: var(--transition);
}

nav ul li a:hover {
    color: var(--hover-color);
}

.theme-switch {
    cursor: pointer;
}

/* GLOBAL */
/* MAIN PAGE */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.biography {
    background-color: var(--biography-background);
    color: var(--biography-text);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    margin: 120px 0;
    width: 100%;
    max-width: 1500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.biography p {
    text-align: left;
}

/* .biography p:first-child {
    padding-top: 20px;
} */

.biography__p-first-child {
    padding-top: 15px;
}

section {
    margin-bottom: 40px;
}

.biography_img a img {
    width: auto;
    border-radius: 20px;
    height: 400px;
}

.biography_img {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 20px;
    justify-content: center;
}

.burger-menu_wrapper {
    display: none;
    cursor: pointer;
}

.burger-menu {
    display: none;
}

#body .burger-menu_lines-active {
    background-color: #00000000;
}
#body .burger-menu_lines-active::before {

    transform: rotate(45deg);
    top: 12px;
}
#body .burger-menu_lines-active::after {

    transform: rotate(-45deg);
    bottom: 13px;
}
@media (max-width: 890px) {
    header {
        padding: 30px;
    }
    .theme-switch {
        display: none;
    }
    .burger-menu {
        width: 4rem;
        height: 2rem;
        position: fixed;
        display: block;
        right: 0.9rem;
        top: 1.7rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }   
    .burger-menu_wrapper{
        display: block;
        width: 5rem;
        height: 4rem;
        background-color: rgb(116, 116, 116);
        right: 0.8rem;
        top: 0.6rem;
        position: fixed;
        border-radius: 8%;
        z-index: 2;
    }
    .burger-menu_lines {
        width: 80%;
        height: .5rem;
        background-color: white;
        transition: .4s;
    }
    .burger-menu_lines::before {
        content: "";
        position: absolute;
        width: 80%;
        height: .5rem;
        background-color: white;
        top: -2px;
        transition: .4s;
    }
    .burger-menu_lines::after {
        content: "";
        position: absolute;
        width: 80%;
        height: .5rem;
        background-color: white;
        bottom: -2px;
        transition: .4s;
    }
    .burger-menu_lines, .burger-menu_lines::before, .burger-menu_lines::after {
        border-radius: 99px;
        background: #ffffff;
        box-shadow:  5px 5px 100px #616161,
             -5px -5px 100px #757575;
    }
    #body header .nav-menu ul{
        display: flex;
        flex-direction: column;
        gap: 9px;
        font-size: 25px;
    }
    #body header .nav-menu ul li {
        background-color: #adadad;
        text-align: center;
        padding: 4px;
        border-radius: 12px;
    }
    #body header .nav-menu{
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 50%;
        z-index: 1;
        transition: .4s;
        left: -100%;
        padding-top: 30px;
        /* padding-left: 30px; */
        bottom: 0;
        top: 0;
        box-shadow:  -50px -50px 100px #d7d7d7,
                     50px 50px 100px #adadad;
        color: black;
    }
    #body header .nav-menu-active {
        left: 0;
    }
    #body header .nav-menu .nav-menu_item{
        color: black;
    }
}

@media (max-width: 1500px) {
    .biography_img a img {
        height: 320px;
    }
}
@media (max-width: 1290px) {
    .biography_img a img {
        height: 280px;
    }
    .biography {
        margin-top: 80px;
    }
}
@media (max-width: 1100px) {
    .biography_img a img {
        height: 250px;
    }
    .biography p {
        font-size: 15px;
    }
    .biography h1 {
        font-size: 29px;
    }
}
@media (max-width: 950px) {
    .biography_img a img {
        height: 220px;
    }
}
@media(max-width: 850px) {
    .biography_img a img {
        height: 190px;
    }
    .biography {
        margin-bottom: 0;
    }
}
@media(max-width: 757px) {
    .biography_img a img {
        height: 170px;
    }
}

@media(max-width: 700px) {
    .biography_img {
        flex-direction: column;
        gap: 7px;
        margin-top: 18px;
    }
    .biography_img a img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .biography {
        margin-top: 100px;
        padding: 20px;
    }
}
/* MAIN PAGE */
/* BOOKS PAGE */
.imgs_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 82px;
    gap: 18px;
    justify-content: center;
    padding: 30px;
}

.imgs_wrap div {
    width: 100%;
    /* max-width: calc(360px - 25px); */
    max-width: fit-content;
} 

.imgs_wrap div img{
    width: auto;    
    max-width: 100%;
    border-radius: 18px;
    -webkit-box-shadow: 10px 8px 24px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 10px 8px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: 10px 8px 24px -11px rgba(66, 68, 90, 1);
    height: 473px;
}

@media(max-width:890px) {
    .imgs_wrap {
        margin-top: 93px;
        padding: 30px;
    }
    .imgs_wrap div {
        max-width: none;
    }
    .imgs_wrap div img {
        height: auto;
    }
}
/* BOOKS PAGE */

/* NEWS PAGE */
.news-block {
    background-color: var(--biography-background);
    color: var(--biography-text);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    margin: 120px 0;
    width: fit-content;
    max-width: 1500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.main-news-text {
    text-align: start;
}
.news_img {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;
    justify-content: center;
}
.dawdawda {
    display: flex;
    flex-direction: row;
 justify-content: center;
    gap: 20px;
}
.news_img a img:first-child {
    height: 350px;
}
.aad2dfgse {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.news_img a img {
    width: auto;
    border-radius: 20px;
    height: 250px;
}

/* NEWS PAGE */

/* MODAL */

.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: -1;
    top: 0;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.modal_active {
    z-index: 10;
    opacity: 1;
    transition: .4s;
}
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.modal-content {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: -6px 6px 100px #afafaf, 6px -6px 100px #ffffff;
    width: 30%;
    height: 23%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .4s;
}
.modal-content_active {
    height: 30%;
    transition: .4s;
}
.forms-wrap {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 50%;
}
.forms-wrap input, .forms-wrap button{
    width: 100%; 
    height: 80%;
    border: none;
    padding: 1rem;
    outline: none;
    border-radius: 1rem;
}
.modal-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: -1;
    top: 0;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
/* MODAL */